.depoimentos
.depoimentos__item {
    background: rgba(196, 25, 25, 0.03);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin: 8rem auto;
    padding: 3rem 2rem;
    gap: 32px;
}

.depoimento__texto {
    font-family: 'inter', sans-serif;
    color: var(--vermelho);
    font-weight: 600;
    font-size: 14px;
    height: 2em;
}

.depoimentos__titulo {
    font-family: 'inter', sans-serif;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 36px;
}

.nome {
    font-family: 'inter',sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    gap: 4px;
}

